language: python

python:
  - "2.7"
  - "3.6"

notifications:
  email: false

os:
  - linux
  - osx

before_install:
  # hts_engine_API
  - cd $HOME
  - git clone https://github.com/r9y9/hts_engine_API.git && cd hts_engine_API/src
  - ./waf configure build
  - sudo ./waf install
  # open_jtalk
  - cd $HOME
  - git clone https://github.com/r9y9/open_jtalk.git && cd open_jtalk/src
  - mkdir -p build && cd build
  - cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON ..
  - make -j
  - sudo make install
  # anaconda
  - if [["$TRAVIS_PYTHON_VERSION" == "2.7"]]; then
      wget http://repo.continuum.io/miniconda/Miniconda-3.8.3-Linux-x86_64.sh -O miniconda.sh;
    else
      wget http://repo.continuum.io/miniconda/Miniconda3-3.8.3-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda config --add channels pypi
  - conda info -a
  - deps='pip numpy scipy cython nose pytorch'
  - conda create -q -n test-environment "python=$TRAVIS_PYTHON_VERSION" $deps -c pytorch
  - source activate test-environment
  - pip install flake8

install:
  - pip install -e ".[test]"

script:
  - nosetests -s -v -w tests/ -a '!local_only'
  - flake8
